<section class="ui raised segment">
    <h2>Assessments</h2>
    <table class="ui fixed celled table">
        <thead>
        <tr>
            <th>Weight</th>
            <th>Chest</th>
            <th>Thigh</th>
            <th>Upper Arm</th>
            <th>Waist</th>
            <th>Hips</th>
            <th>Comment</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <div class="ui bulleted list">
            {{#each assessments}}
                <tr>
                    <td> {{weight}} </td>
                    <td> {{chest}} </td>
                    <td> {{thigh}} </td>
                    <td> {{upperarm}} </td>
                    <td> {{waist}} </td>
                    <td> {{hips}} </td>
                    <td> {{comment}} </td>
                    <td class="center aligned">
                        <a href="/dashboard/deleteassessment/{{id}}" title="delete">
                            <i class="bordered inverted grey trash icon"></i>
                        </a>
                    </td>
                </tr>
            {{/each}}
        </div>
        </tbody>
    </table>
</section>
